.conteudo {
    width: 90%;
}

a.flow-text{
    margin-left: 15px;
}

.Status_Carregamento_Arquivo {
    margin-right: 15px;
    margin-left: 10px;
}

#empregadores {
    width: 100%;
}

#Texto_Botoes {
    margin-top: -5px !important;
}

td {
    overflow : hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}

td .btn {
    margin-left: 10px;
}

td .btn span {
    margin-top: 5px;
}

#btn-salvar-base-de-dados {
    margin-top: 10px;
}

#btn-carregar-novo-certificado, #btn-cadastrar-pasta-mensageria {
    margin-left: 20px;
}

#modalChaveCriptografiaEdicao ::placeholder, modalChaveCriptografiaCadastro ::placeholder{
    color: #546e7a;
    opacity: 1;
}

.modal-content {
    background-color: #cfd8dc;
}


@media only screen and (min-width : 601px) and (max-width : 1260px) {
    .toast {
    width: 80%;
    border-radius: 0;
    margin-top: 25% !important;
    margin-left: 25%;
    margin-right: 25%;
} }
    
    @media only screen and (min-width : 1261px) {
    .toast {
    width: 80%;
    border-radius: 0;
    margin-top: 25% !important;
    margin-left: 25%;
    margin-right: 25%;
} }
    
    @media only screen and (min-width : 601px) and (max-width : 1260px) {
    #toast-container {
    min-width: 90%;
    bottom: 0%;
    top: 50%;
    right: 0%;
    left: 0%;} }
    
    @media only screen and (min-width : 1261px) {
    #toast-container {
    min-width: 100%;
    bottom: 0%;
    top: 50%;
    right: 0%;
    left: 0%; } }
